
*{
    padding: 0;
    margin: 0;
}
header{
    height: 100vh;
}
.hlist{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.imgg{
    width: 1900px;
    height: 500px;
    filter: brightness(40%)
}
.swaz{
    position: absolute;
    color: white;
    margin-top: -280px;
    margin-left: 800px;
    font-size: 40px;
}
.cart{
    width: 250px;
    height: 100px;
    background-color: #00709c;
    color: aliceblue;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
main{
    height: 100vh;
}

.cart_two{
    width: 250px;
    height: 100px;
    background-color: #00709c;
    color: aliceblue;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.cart_three{
    width: 250px;
    height: 100px;
    background-color: #00709c;
    color: aliceblue;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.CART{
    display: flex;
    justify-content: space-evenly;
}
.svaz{
    font-size: 50px;
}
.RTT{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.mess{
    width: 350px;
    height: 100px;
}
.otpravka{
    width: 300px;
    height: 30px;
    color: aliceblue;
    border-radius: 5px;
    background-color: #0051ff;
    border: 0;
    margin-top: 20px;
}
footer{
    height: 70vh;
}
.pisite{
    font-size: 50px;
}
.tel{
    padding-top: 100px;
}
.CVG{
    transition: 1s;
    fill: chartreuse;
    
}
.CVG:hover{
    transition: 1s;
    fill: red;
}
.CVGG{
    transition: 1s;
    fill: #0051ff;
}
.CVGG:hover{
    transition: 1s;
    fill: fuchsia;
}
.CVGGG{
    transition: 1s;
    fill: rgb(255, 136, 0);
}
.CVGGG:hover{
    transition: 1s;
    fill: gray;
}